.inp1{
  margin:50px 40px;
  width: 500px;
  height: 40px;
  font-size: 20px;
  margin-left: 300px;
  margin-right: auto;
  border: 5px solid #626262;
  color:#3699d3;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family:'Trebuchet MS', sans-serif;
  letter-spacing:2px;
  font-style: italic;
}

.inp1::placeholder{
color:#363b41;
font-size: 20px;
letter-spacing:5px;
font-style: italic;
font-family:'Times New Roman'
}

.inp{
  display: inline-block;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  font-style: italic;
  height: 20px;
}

.record{
margin: 10px 30px 10px 50px;
text-align: center;
}
.inpWidth{
  width: 300px;
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-size: 15px
}

.inpWidth1{
  width: 100px;
  margin:  auto;
  padding-top: 15px;
}
.btn{
  margin: 50px 50px 100px 100px
}
.color1{
  background-color:#b1b3b7;
  margin-left: 30px;
  margin-right: 30px;
  height: 40px;
}
.color2{
  background-color: #989aa2;
  margin-left: 30px;
  margin-right: 30px;
  height: 40px;
}
.wrapper{
  
}

